In [1]:
#1.Load the companies and rounds data into two data frames and name them companies and rounds2 respectively.

In [2]:
import pandas as pd
import numpy as np
companies=pd.read_csv('C:/Users/Administrator/Desktop/Python/Pandas/Teclov/companies.txt',sep='\t',encoding='ANSI')

rounds2=pd.read_csv('C:/Users/Administrator/Desktop/Python/Pandas/Teclov/rounds2.csv',encoding='ANSI')

In [3]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [4]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

## Problem 1: Data CLeaning1

In [5]:
rounds2['new_company_permalink']=rounds2['company_permalink'].str.lower()

In [6]:
companies['new_permalink']=companies['permalink'].str.lower()

In [7]:
#1.How many unique companies are present in rounds2?

rounds2['new_company_permalink'].nunique()

66368

In [8]:
#2.How many unique companies are present in companies?

companies['new_permalink'].nunique()

66368

In [9]:
#3.In the companies data frame, which column can be used as the unique key for each company? Write the name of the column.

#Ans:companies['new_permalink'] is the column which can be used as the unique or primary key for retrieving each company's name.
# Therefore, previously it was permalink column in the dataset but after some modification(removing special characters from the
# company names) done on that column, new correct values have been stored in new column as new_permalink. So, new_permalink is
# the primary key in company dataset.

companies['new_permalink'].is_unique

True

In [10]:
#4.Are there any companies in the rounds2 file which are not present in companies? Answer yes or no: Y/N

#Ans: No, there are equal number of companies present in both the files.

companies['new_permalink'].isin(rounds2['new_company_permalink']).value_counts()

True    66368
Name: new_permalink, dtype: int64

In [11]:
#5.Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame. 
#Name the merged frame master_frame. How many observations are present in master_frame?

master_frame=pd.merge(rounds2,companies,left_on='new_company_permalink',right_on='new_permalink')
master_frame.head()
master_frame.shape

(114949, 18)

## Problem 2: Funding Type Analysis:

In [12]:
#1.Calculate the most representative value of the investment amount for each of the four funding types (venture, angel, seed,
#and private equity) and report the answers in the template provided on the previous page.

master_frame[master_frame['funding_round_type'].isin(['venture','seed','angel','private_equity'])].groupby('funding_round_type')[
['funding_round_type','raised_amount_usd']].sum()

                    raised_amount_usd
funding_round_type
angel                    4.659255e+09
private_equity           1.419254e+11
seed                     1.698986e+10
venture                  5.901262e+11

In [13]:
#2.Based on the most representative investment amount calculated above, which investment type do you think is the most 
#suitable for Teclov?

master_frame[master_frame['funding_round_type'].isin(['venture','seed','angel','private_equity'])].groupby('funding_round_type')[
['funding_round_type','raised_amount_usd']].sum().sort_values(by='raised_amount_usd',ascending=False).head(1)

                    raised_amount_usd
funding_round_type
venture                  5.901262e+11

## Problem 3:Country Analysis:

In [14]:
#1.Teclov wants to see the top nine countries which have received the highest total funding (across ALL sectors for the chosen
#investment type)

master_frame[master_frame['funding_round_type']=='venture'].groupby('country_code')['raised_amount_usd'].sum().sort_values(
    ascending=False).head(9)

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

In [15]:
#2.For the chosen investment type, make a data frame named top9 with the top nine countries (based on the total investment 
#amount each country has received)

top9=master_frame[master_frame['funding_round_type']=='venture'].groupby('country_code').sum().\
sort_values(ascending=False,by='raised_amount_usd').head(9)
top9

              raised_amount_usd
country_code
USA                4.225108e+11
CHN                3.983542e+10
GBR                2.024563e+10
IND                1.439186e+10
CAN                9.583332e+09
FRA                7.259537e+09
ISR                6.907515e+09
DEU                6.346960e+09
JPN                3.363677e+09

In [16]:
#Identify the top three English-speaking countries in the data frame top9.

#Ans:USA,GBR,IND
countries=['USA','IND','GBR']
countries

['USA', 'IND', 'GBR']

In [17]:
#1. Top English-speaking country
#Ans: USA
countries=['USA','IND','GBR']
print('Top English-speaking country:',countries[0])

Top English-speaking country: USA

In [18]:
#2. Second English-speaking country
#Ans: IND
countries=['USA','IND','GBR']
print('Second English-speaking country:',countries[1])

Second English-speaking country: IND

In [19]:
#3. Third English-speaking country
#Ans: GBR
countries=['USA','IND','GBR']
print('Third English-speaking country:',countries[2])

Third English-speaking country: GBR

# Problem 4: Sector Analysis 1

In [20]:
#1.Extract the primary sector of each category list from the category_list column.
import re
ls=master_frame['category_list']
#ls.head()
ls1=[]
ls2=[]
for i in ls:
    ls1.append(re.findall('[a-zA-Z0-9\s-]+',str(i)))
#ls1
for j in range(len(ls1)):
    ls2.append(ls1[j][0])
#ls2
primary_sector=pd.DataFrame(ls2,columns=['category_list'])
primary_sector.head()

           category_list
0                  Media
1  Application Platforms
2  Application Platforms
3                   Apps
4            Curated Web

In [21]:
mapping=pd.read_csv('C:/Users/Administrator/Desktop/Python/Pandas/Teclov/mapping.csv',encoding='ANSI')
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [22]:
#2.Use the mapping file 'mapping.csv' to map each primary sector to one of the eight main sectors (Note that ‘Others’ is also 
#considered one of the main sectors)

mapping_1=mapping.melt(id_vars='category_list',var_name='Main_Sector')
mapping_1_sort=mapping_1[['category_list','Main_Sector']][mapping_1.value==1].sort_values('category_list')
merge_frame=pd.merge(mapping_1_sort,primary_sector,left_on='category_list',right_on='category_list')
merge_frame=merge_frame.drop_duplicates()
merge_frame.head()

        category_list                              Main_Sector
0                  3D                            Manufacturing
252       3D Printing                            Manufacturing
397     3D Technology                            Manufacturing
458        Accounting  Social, Finance, Analytics, Advertising
727  Active Lifestyle                                   Health

In [23]:
merge_frame.rename(columns={'category_list': 'Primary_Sector'},inplace=True)
merge_frame.head()

       Primary_Sector                              Main_Sector
0                  3D                            Manufacturing
252       3D Printing                            Manufacturing
397     3D Technology                            Manufacturing
458        Accounting  Social, Finance, Analytics, Advertising
727  Active Lifestyle                                   Health

### Problem 5: Sector Analysis 2

In [24]:
sector = pd.merge(merge_frame,master_frame,left_on='Primary_Sector',right_on='category_list')
sector.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink
0,3D,Manufacturing,/organization/8i,/funding-round/9f902a45062cab4db6a8cf3da1817a62,seed,NaN,07-08-2014,981681.0,/organization/8i,/Organization/8I,8i,http://8i.com/,3D,operating,NaN,NaN,NaN,NaN,01-05-2014,/organization/8i
1,3D,Manufacturing,/ORGANIZATION/8I,/funding-round/a4394710d8ed06a39b49c3eb03e4cc23,venture,A,14-10-2015,13500000.0,/organization/8i,/Organization/8I,8i,http://8i.com/,3D,operating,NaN,NaN,NaN,NaN,01-05-2014,/organization/8i
2,3D,Manufacturing,/organization/visual-realm-inc,/funding-round/f46ce6f9feb0ee179e97e751696c7c6e,equity_crowdfunding,NaN,05-11-2011,NaN,/organization/visual-realm-inc,/Organization/Visual-Realm-Inc,Visual Realm,http://www.thevisualrealm.com/,3D,operating,USA,FL,Tampa,Tampa,17-05-2002,/organization/visual-realm-inc
3,3D Printing,Manufacturing,/organization/3dplusme,/funding-round/5aff44106b0317c745708cd0a70a2921,seed,NaN,05-12-2014,1800000.0,/organization/3dplusme,/Organization/3Dplusme,3dplusme,http://3dplus.me,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme
4,3D Printing,Manufacturing,/ORGANIZATION/3DPLUSME,/funding-round/b09bf18e70c4ea6c99153f11257c6d56,venture,NaN,06-04-2014,200000.0,/organization/3dplusme,/Organization/3Dplusme,3dplusme,http://3dplus.me,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme

In [25]:
sector=sector.rename(columns={'funding_round_type':'FT'})
sector.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink
0,3D,Manufacturing,/organization/8i,/funding-round/9f902a45062cab4db6a8cf3da1817a62,seed,NaN,07-08-2014,981681.0,/organization/8i,/Organization/8I,8i,http://8i.com/,3D,operating,NaN,NaN,NaN,NaN,01-05-2014,/organization/8i
1,3D,Manufacturing,/ORGANIZATION/8I,/funding-round/a4394710d8ed06a39b49c3eb03e4cc23,venture,A,14-10-2015,13500000.0,/organization/8i,/Organization/8I,8i,http://8i.com/,3D,operating,NaN,NaN,NaN,NaN,01-05-2014,/organization/8i
2,3D,Manufacturing,/organization/visual-realm-inc,/funding-round/f46ce6f9feb0ee179e97e751696c7c6e,equity_crowdfunding,NaN,05-11-2011,NaN,/organization/visual-realm-inc,/Organization/Visual-Realm-Inc,Visual Realm,http://www.thevisualrealm.com/,3D,operating,USA,FL,Tampa,Tampa,17-05-2002,/organization/visual-realm-inc
3,3D Printing,Manufacturing,/organization/3dplusme,/funding-round/5aff44106b0317c745708cd0a70a2921,seed,NaN,05-12-2014,1800000.0,/organization/3dplusme,/Organization/3Dplusme,3dplusme,http://3dplus.me,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme
4,3D Printing,Manufacturing,/ORGANIZATION/3DPLUSME,/funding-round/b09bf18e70c4ea6c99153f11257c6d56,venture,NaN,06-04-2014,200000.0,/organization/3dplusme,/Organization/3Dplusme,3dplusme,http://3dplus.me,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme

In [26]:
country1=sector[(sector.country_code=='USA') &(sector.FT=='venture') & ((sector.raised_amount_usd >=5000000) | (sector.raised_amount_usd<=15000000))]
country2=sector[(sector.country_code=='IND') &(sector.FT=='venture') & ((sector.raised_amount_usd >=5000000) | (sector.raised_amount_usd<=15000000))]
country3=sector[(sector.country_code=='GBR') &(sector.FT=='venture') & ((sector.raised_amount_usd >=5000000) | (sector.raised_amount_usd<=15000000))]
country1.head()
country2.head()
country3.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink
156,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/ADWINGS,/funding-round/5626eb94e313fb2b2ba564b1c436b035,venture,NaN,01-05-2011,24997.0,/organization/adwings,/Organization/Adwings,Adwings,http://adwings.com,Advertising,closed,GBR,C3,London,Cambridge,01-01-2011,/organization/adwings
334,Advertising,"Social, Finance, Analytics, Advertising",/organization/captify,/funding-round/ad9fc87023cf7e2c1d6ed1eadc09ff2d,venture,B,27-06-2015,12597433.0,/organization/captify,/Organization/Captify,Captify,http://www.captify.co.uk,Advertising,operating,GBR,H9,London,London,04-07-2011,/organization/captify
360,Advertising,"Social, Finance, Analytics, Advertising",/organization/clash-media-advertising,/funding-round/6453148e9868783ab4580746126ecc4a,venture,B,03-10-2008,2648331.0,/organization/clash-media-advertising,/Organization/Clash-Media-Advertising,Clash Media Advertising,http://clash-media.com,Advertising,closed,GBR,H9,London,London,01-01-2006,/organization/clash-media-advertising
361,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/CLASH-MEDIA-ADVERTISING,/funding-round/c0a7515b15f0deb7c1e243817fdad37f,venture,C,15-07-2009,2080000.0,/organization/clash-media-advertising,/Organization/Clash-Media-Advertising,Clash Media Advertising,http://clash-media.com,Advertising,closed,GBR,H9,London,London,01-01-2006,/organization/clash-media-advertising
362,Advertising,"Social, Finance, Analytics, Advertising",/organization/clash-media-advertising,/funding-round/de9911696a98fa2e07fe9eb24419100c,venture,A,01-06-2007,3956128.0,/organization/clash-media-advertising,/Organization/Clash-Media-Advertising,Clash Media Advertising,http://clash-media.com,Advertising,closed,GBR,H9,London,London,01-01-2006,/organization/clash-media-advertising

In [27]:
total_amount=country1.groupby('Main_Sector')['raised_amount_usd'].sum()
total_amount

Main_Sector
Automotive & Sports                        9.694498e+08
Cleantech / Semiconductors                 8.716709e+10
Entertainment                              4.674039e+09
Health                                     1.949329e+10
Manufacturing                              5.784410e+09
News, Search and Messaging                 1.258705e+10
Others                                     5.058639e+10
Social, Finance, Analytics, Advertising    7.921238e+09
Name: raised_amount_usd, dtype: float64

In [28]:
country1_tot=pd.merge(country1,total_amount,on='Main_Sector', suffixes=('','Total'))
country1_tot.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,...,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,raised_amount_usdTotal
0,3D Printing,Manufacturing,/ORGANIZATION/3DPLUSME,/funding-round/b09bf18e70c4ea6c99153f11257c6d56,venture,NaN,06-04-2014,200000.0,/organization/3dplusme,/Organization/3Dplusme,...,http://3dplus.me,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme,5.784410e+09
1,3D Printing,Manufacturing,/organization/3dplusme,/funding-round/c1bff5d53a22895dcc94a1b1d23a59e9,venture,NaN,24-08-2015,2247128.0,/organization/3dplusme,/Organization/3Dplusme,...,http://3dplus.me,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme,5.784410e+09
2,3D Printing,Manufacturing,/ORGANIZATION/NEW-MATTER,/funding-round/9e74aaabd3caed33c88bc6bfdeab791a,venture,A,10-02-2015,6500000.0,/organization/new-matter,/Organization/New-Matter,...,http://newmatter.com,3D Printing,operating,USA,CA,Los Angeles,Pasadena,01-12-2013,/organization/new-matter,5.784410e+09
3,3D Technology,Manufacturing,/organization/carbon3d,/funding-round/0b4c77c866c9edddc793845368c93212,venture,B,16-03-2015,30000000.0,/organization/carbon3d,/Organization/Carbon3D,...,http://carbon3d.com,3D Technology,operating,USA,CA,SF Bay Area,Redwood City,01-01-2013,/organization/carbon3d,5.784410e+09
4,3D Technology,Manufacturing,/ORGANIZATION/CARBON3D,/funding-round/336230ab48e257e1f37b774f48ebd3e8,venture,C,20-08-2015,100000000.0,/organization/carbon3d,/Organization/Carbon3D,...,http://carbon3d.com,3D Technology,operating,USA,CA,SF Bay Area,Redwood City,01-01-2013,/organization/carbon3d,5.784410e+09

In [29]:
main=country1.groupby('Main_Sector').size()
main

Main_Sector
Automotive & Sports                         153
Cleantech / Semiconductors                 6036
Entertainment                               675
Health                                     2181
Manufacturing                               544
News, Search and Messaging                 1612
Others                                     5919
Social, Finance, Analytics, Advertising     981
dtype: int64

In [30]:
total_no_investment=pd.DataFrame(main,columns=['total_counts'])
total_no_investment

                                         total_counts
Main_Sector
Automotive & Sports                               153
Cleantech / Semiconductors                       6036
Entertainment                                     675
Health                                           2181
Manufacturing                                     544
News, Search and Messaging                       1612
Others                                           5919
Social, Finance, Analytics, Advertising           981

In [31]:
D1=pd.merge(country1_tot,total_no_investment,on='Main_Sector')
D1.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,...,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,raised_amount_usdTotal,total_counts
0,3D Printing,Manufacturing,/ORGANIZATION/3DPLUSME,/funding-round/b09bf18e70c4ea6c99153f11257c6d56,venture,NaN,06-04-2014,200000.0,/organization/3dplusme,/Organization/3Dplusme,...,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme,5.784410e+09,544
1,3D Printing,Manufacturing,/organization/3dplusme,/funding-round/c1bff5d53a22895dcc94a1b1d23a59e9,venture,NaN,24-08-2015,2247128.0,/organization/3dplusme,/Organization/3Dplusme,...,3D Printing,operating,USA,UT,Salt Lake City,Salt Lake City,NaN,/organization/3dplusme,5.784410e+09,544
2,3D Printing,Manufacturing,/ORGANIZATION/NEW-MATTER,/funding-round/9e74aaabd3caed33c88bc6bfdeab791a,venture,A,10-02-2015,6500000.0,/organization/new-matter,/Organization/New-Matter,...,3D Printing,operating,USA,CA,Los Angeles,Pasadena,01-12-2013,/organization/new-matter,5.784410e+09,544
3,3D Technology,Manufacturing,/organization/carbon3d,/funding-round/0b4c77c866c9edddc793845368c93212,venture,B,16-03-2015,30000000.0,/organization/carbon3d,/Organization/Carbon3D,...,3D Technology,operating,USA,CA,SF Bay Area,Redwood City,01-01-2013,/organization/carbon3d,5.784410e+09,544
4,3D Technology,Manufacturing,/ORGANIZATION/CARBON3D,/funding-round/336230ab48e257e1f37b774f48ebd3e8,venture,C,20-08-2015,100000000.0,/organization/carbon3d,/Organization/Carbon3D,...,3D Technology,operating,USA,CA,SF Bay Area,Redwood City,01-01-2013,/organization/carbon3d,5.784410e+09,544

In [32]:
total_amount2=country2.groupby('Main_Sector')['raised_amount_usd'].sum()
total_amount2

Main_Sector
Automotive & Sports                        6.665000e+07
Cleantech / Semiconductors                 3.966400e+08
Entertainment                              3.862478e+08
Health                                     2.817700e+08
Manufacturing                              2.694550e+08
News, Search and Messaging                 1.075329e+09
Others                                     2.392016e+09
Social, Finance, Analytics, Advertising    2.767677e+08
Name: raised_amount_usd, dtype: float64

In [33]:
main2=country2.groupby('Main_Sector').size()
main2

Main_Sector
Automotive & Sports                          6
Cleantech / Semiconductors                  33
Entertainment                               38
Health                                      23
Manufacturing                               22
News, Search and Messaging                  72
Others                                     180
Social, Finance, Analytics, Advertising     25
dtype: int64

In [34]:
country2_tot=pd.merge(country2,total_amount2,on='Main_Sector', suffixes=('','Total'))
country2_tot.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,...,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,raised_amount_usdTotal
0,Advertising,"Social, Finance, Analytics, Advertising",/organization/amagi-media-labs,/funding-round/f244a91cc714317f6fbbc80dcc1d5135,venture,A,17-06-2013,5500000.0,/organization/amagi-media-labs,/Organization/Amagi-Media-Labs,...,http://amagi.com,Advertising,operating,IND,19,Bangalore,Bangalore,01-01-2008,/organization/amagi-media-labs,276767688.0
1,Advertising,"Social, Finance, Analytics, Advertising",/organization/ebs-worldwide-services,/funding-round/ee2d3e6f0f8cb42513c8287a77ef1d08,venture,NaN,07-06-2006,5500000.0,/organization/ebs-worldwide-services,/Organization/Ebs-Worldwide-Services,...,http://www.ebsworldwide.com,Advertising,operating,IND,16,Mumbai,Mumbai,01-01-2000,/organization/ebs-worldwide-services,276767688.0
2,Advertising,"Social, Finance, Analytics, Advertising",/organization/gingersoft-media,/funding-round/598c9bec89138d1231771553dec2cf13,venture,NaN,29-11-2007,2000000.0,/organization/gingersoft-media,/Organization/Gingersoft-Media,...,http://mginger.com,Advertising,closed,IND,19,Bangalore,Bangalore,NaN,/organization/gingersoft-media,276767688.0
3,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/IDEACTS-INNOVATIONS,/funding-round/4f3089970603552dceda60e07ebb2364,venture,NaN,03-07-2008,5000000.0,/organization/ideacts-innovations,/Organization/Ideacts-Innovations,...,http://www.ideacts.com,Advertising,operating,IND,16,Mumbai,Mumbai,NaN,/organization/ideacts-innovations,276767688.0
4,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/LOYLTY-REWARDZ-MANAGEMENT,/funding-round/13dd81bba6d248e4bf4eb13dfb9e42f0,venture,NaN,03-10-2011,4400000.0,/organization/loylty-rewardz-management,/Organization/Loylty-Rewardz-Management,...,http://www.loylty.com,Advertising,operating,IND,16,Mumbai,Mumbai,NaN,/organization/loylty-rewardz-management,276767688.0

In [35]:
total_no_investment2=pd.DataFrame(main2,columns=['total_counts'])
total_no_investment2

                                         total_counts
Main_Sector
Automotive & Sports                                 6
Cleantech / Semiconductors                         33
Entertainment                                      38
Health                                             23
Manufacturing                                      22
News, Search and Messaging                         72
Others                                            180
Social, Finance, Analytics, Advertising            25

In [36]:
D2=pd.merge(country2_tot,total_no_investment2,on='Main_Sector')
D2.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,...,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,raised_amount_usdTotal,total_counts
0,Advertising,"Social, Finance, Analytics, Advertising",/organization/amagi-media-labs,/funding-round/f244a91cc714317f6fbbc80dcc1d5135,venture,A,17-06-2013,5500000.0,/organization/amagi-media-labs,/Organization/Amagi-Media-Labs,...,Advertising,operating,IND,19,Bangalore,Bangalore,01-01-2008,/organization/amagi-media-labs,276767688.0,25
1,Advertising,"Social, Finance, Analytics, Advertising",/organization/ebs-worldwide-services,/funding-round/ee2d3e6f0f8cb42513c8287a77ef1d08,venture,NaN,07-06-2006,5500000.0,/organization/ebs-worldwide-services,/Organization/Ebs-Worldwide-Services,...,Advertising,operating,IND,16,Mumbai,Mumbai,01-01-2000,/organization/ebs-worldwide-services,276767688.0,25
2,Advertising,"Social, Finance, Analytics, Advertising",/organization/gingersoft-media,/funding-round/598c9bec89138d1231771553dec2cf13,venture,NaN,29-11-2007,2000000.0,/organization/gingersoft-media,/Organization/Gingersoft-Media,...,Advertising,closed,IND,19,Bangalore,Bangalore,NaN,/organization/gingersoft-media,276767688.0,25
3,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/IDEACTS-INNOVATIONS,/funding-round/4f3089970603552dceda60e07ebb2364,venture,NaN,03-07-2008,5000000.0,/organization/ideacts-innovations,/Organization/Ideacts-Innovations,...,Advertising,operating,IND,16,Mumbai,Mumbai,NaN,/organization/ideacts-innovations,276767688.0,25
4,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/LOYLTY-REWARDZ-MANAGEMENT,/funding-round/13dd81bba6d248e4bf4eb13dfb9e42f0,venture,NaN,03-10-2011,4400000.0,/organization/loylty-rewardz-management,/Organization/Loylty-Rewardz-Management,...,Advertising,operating,IND,16,Mumbai,Mumbai,NaN,/organization/loylty-rewardz-management,276767688.0,25

In [37]:
total_amount3=country3.groupby('Main_Sector')['raised_amount_usd'].sum()
total_amount3
main3=country3.groupby('Main_Sector').size()
main3
country3_tot=pd.merge(country3,total_amount3,on='Main_Sector', suffixes=('','Total'))
country3_tot.head()
total_no_investment3=pd.DataFrame(main3,columns=['total_counts'])
total_no_investment3
D3= pd.merge(country3_tot,total_no_investment3,on='Main_Sector')
D3.head()

,Primary_Sector,Main_Sector,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,permalink,...,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,raised_amount_usdTotal,total_counts
0,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/ADWINGS,/funding-round/5626eb94e313fb2b2ba564b1c436b035,venture,NaN,01-05-2011,24997.0,/organization/adwings,/Organization/Adwings,...,Advertising,closed,GBR,C3,London,Cambridge,01-01-2011,/organization/adwings,853680104.0,81
1,Advertising,"Social, Finance, Analytics, Advertising",/organization/captify,/funding-round/ad9fc87023cf7e2c1d6ed1eadc09ff2d,venture,B,27-06-2015,12597433.0,/organization/captify,/Organization/Captify,...,Advertising,operating,GBR,H9,London,London,04-07-2011,/organization/captify,853680104.0,81
2,Advertising,"Social, Finance, Analytics, Advertising",/organization/clash-media-advertising,/funding-round/6453148e9868783ab4580746126ecc4a,venture,B,03-10-2008,2648331.0,/organization/clash-media-advertising,/Organization/Clash-Media-Advertising,...,Advertising,closed,GBR,H9,London,London,01-01-2006,/organization/clash-media-advertising,853680104.0,81
3,Advertising,"Social, Finance, Analytics, Advertising",/ORGANIZATION/CLASH-MEDIA-ADVERTISING,/funding-round/c0a7515b15f0deb7c1e243817fdad37f,venture,C,15-07-2009,2080000.0,/organization/clash-media-advertising,/Organization/Clash-Media-Advertising,...,Advertising,closed,GBR,H9,London,London,01-01-2006,/organization/clash-media-advertising,853680104.0,81
4,Advertising,"Social, Finance, Analytics, Advertising",/organization/clash-media-advertising,/funding-round/de9911696a98fa2e07fe9eb24419100c,venture,A,01-06-2007,3956128.0,/organization/clash-media-advertising,/Organization/Clash-Media-Advertising,...,Advertising,closed,GBR,H9,London,London,01-01-2006,/organization/clash-media-advertising,853680104.0,81

In [38]:
# 1. Total number of investments (count) for each country.
count1=total_no_investment['total_counts'].sum()
print(count1)
count2=total_no_investment2['total_counts'].sum()
print(count2)
count3=total_no_investment3['total_counts'].sum()
print(count3)

18101
399
1065

In [39]:
# 2. Total amount of investment (USD) for each country.
tot1=total_amount.sum()
print(tot1)
tot2=total_amount2.sum()
print(tot2)
tot3=total_amount3.sum()
print(tot3)

189182961005.0
5144875020.0
11640773734.0

In [40]:
# 3. Top sector (based on count ofinvestments) of each country.
top_sec1=total_no_investment['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,0]
print(top_sec1)
top_sec2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,0]
print(top_sec2)
top_sec3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,0]
print(top_sec3)

Cleantech / Semiconductors
Others
Others

In [41]:
# 4. Second-best sector (based on count of investments) of each country.
second_sec1=total_no_investment['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,0]
print(second_sec1)
second_sec2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,0]
print(second_sec2)
second_sec3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,0]
print(second_sec3)

Others
News, Search and Messaging
Cleantech / Semiconductors

In [42]:
# 5. Third-best sector (based on count of investments) of each country.
third_sec1=total_no_investment['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,0]
print(third_sec1)
third_sec2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,0]
print(third_sec2)
third_sec3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,0]
print(third_sec3)

Health
Entertainment
News, Search and Messaging

In [43]:
# 6. Number of investments in the top sector of each country.
investment1=total_no_investment['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,1]
print(investment1)
investment2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,1]
print(investment2)
investment3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,1]
print(investment3)

6036
180
368

In [44]:
# 7. Number of investments in the second best sector of each country.
investment_4=total_no_investment['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,1]
print(investment_4)
investment_5=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,1]
print(investment_5)
investment_6=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,1]
print(investment_6)

5919
72
341

In [45]:
# 8. Number of investments in the thirdd best sector of each country.
investment_7=total_no_investment['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,1]
print(investment_7)
investment_8=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,1]
print(investment_8)
investment_9=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,1]
print(investment_9)

2181
38
108